{% load static %}

<!DOCTYPE html>
<html lang="en">
    <body>
        <script src="{% static 'graphnotes/js/go.js' %}"></script>
        <div id="allSampleContent" class="p-4 w-full">
            {% include "graphnotes/script.html" with papers_json=papers_json_str %}
            <div id="sample">
                <div id="myDiagramDiv" style="border: 1px solid black; width: 400px; height: 400px; position: relative; cursor: auto; font: bold 14px sans-serif;"><canvas tabindex="0" style="position: absolute; top: 0px; left: 0px; z-index: 2; user-select: none; touch-action: none; letter-spacing: normal; word-spacing: normal; width: 399px; height: 399px; cursor: auto;" width="598" height="598">This text is displayed if your browser does not support the Canvas HTML element.</canvas><div style="position: absolute; overflow: auto; width: 399px; height: 399px; z-index: 1;"><div style="position: absolute; width: 1px; height: 1px;"></div></div></div>
            </div>
        </div>
    </body>
</html>